CFG_WALLTIME={{cookiecutter.cfg_walltime}}
CFG_QUEUE={{cookiecutter.cfg_queue}}
CFG_PROJECT={{cookiecutter.cfg_project}}
NODES={{cookiecutter.cfg_nodes}}
CFG_PPN={{cookiecutter.cfg_ppn}}
CFG_PROCS=$(( NODES * CFG_PPN ))
