# echo's anything following this to standard out
set -x
SWIFT_FILE={{cookiecutter.wf_file_name}}.swift
swift-t -n $PROCS $MACHINE -p \
    -I $EMEWS_EXT -r $EMEWS_EXT \
    $EMEWS_PROJECT_ROOT/swift/$SWIFT_FILE \
    $CMD_LINE_ARGS